@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$background-primary-color: #004172;
$text-color: #FFFFFF;
$small-text-color: #7FA2BC;
$text-no-color: #B0C3D1;
$light-text-color: #419BC8;
$sidebar-bg-color: #005699;
$linear-grad: linear-gradient(to right, #003e6c 50%, #005699);
$linear-grad-home-image: linear-gradient(rgba(1, 20, 40, 0), #011428 80%);
$card-linear-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 53%, rgba(0, 47, 82, 1) 80%);
$font-weight-head: 700;
$font-weight-small-text: 100;
$font-size-header-text: 1rem;
$font-size-header-small-text: 0.625rem;
$font-size-header-heading: 0.938rem;
$font-size-mobile-view: 0.813rem;
$bolder: 700;


@mixin flex($align-items, $justify-content) {
    @if $align-items ==none and $justify-content ==none {
        display: flex;
    }
    @else {
        display: flex;
        align-items: $align-items;
        justify-content: $justify-content;
    }
}

@mixin font-family() {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}